{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django blog site</title>
    {% include "style.html" %}
</head>

<body>
    <div class="oleez-loader"></div>
    {% include "header.html" %}

    {% block content %}
    {% endblock %}

    {% include "footer.html" %}
    {% include "modal.html" %}
    {% include "search.html" %}
    {% include "script.html" %}
</body>


</html>