{% load static %}

<script src="{% static 'assets/vendors/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendors/wowjs/wow.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/slick-carousel/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/landing.js' %}"></script>
    <script>
        new WOW({mobile: false}).init();
    </script>